@use '../../styles/tools' as tools;

.layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: tools.$spacing-xl;
}

.footer {
    padding: tools.$spacing-xl;
    border-top: 0.5px solid tools.$color-border;
    color: tools.$color-text-secondary;
    font-size: 1.4rem;
}