@use '../../styles/tools' as *;

.layout {
    display: grid;
    grid-template-columns: 28rem 1fr;
    min-height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .main {
            flex: 1;
            padding: $space-XL;
        }

        .footer {
            padding: $space-XL;
            border-top: 0.05rem solid $color-border;
            color: $color-text-secondary;
            @include body-M;
        }
    }
}