$color-primary-800: #0d1f2e;
$color-primary-600: #143149;
$color-primary-400: #1a4264;

$color-grey-500: #636363;
$color-grey-400: #8d8d8d;
$color-grey-300: #c8c8c8;
$color-grey-200: #dddee0;
$color-grey-100: #f7f7f7;