$max-phoneS-width: 490;
$max-phone-width: 599;
$max-tablet-portraitM-width: 720;
$min-tablet-portrait-width: 600;
$min-tablet-landscape-width: 900;
$min-tablet-desktop-width: 1050;
$min-desktop-width: 1200;
$min-med-desktop-width: 1320;
$min-big-desktop-width: 1800;
